body {
    background-color: beige;
}
.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    justify-content: center;
}

.card-container { 
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box
}

.product-image {
    width: 150px;
    height: 150px;
}